<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-image: url('/assets/warzone1.jpg');
    width:748px;
    height:331px;">
				<p><%= image_tag @post.image.url(:medium) %></p>
			</div>
			<div class="panel-body">
				<h1> 
					<%= @post.title %>  
				</h1>
				<p> 
					<%= @post.description %>
	 			</p>
 			</div>
 			<div class="panel-footer">
 				<div class="row">
 					<div class="col-md-6">
			 			<p>
			 			<%= @post.user.email if @post.user %>
			 			</p>
			 		</div>
	 				<div class="col-md-6">
	 					<div class="btn-group pull-right">
	 					<%= link_to "Like", like_post_path, method: :put, :class => 'btn btn-default', :class => 'btn btn-default' %> 
	 						<span style="margin-left:20px" class="glyphicon glyphicon-heart">
	 							<%= @post.get_upvotes.size %>
	 						</span>
	 						<% if user_signed_in? %>
					 			<%= link_to "Back" , root_path , :class => 'btn btn-default'%>
								<%= link_to "Edit", edit_post_path, :class => 'btn btn-default' %> 
								<%= link_to "delete", post_path, method: :delete, data: { confirm: "are you sure ?"}, :class => 'btn btn-default' %>
							<% end %>
						</div>
					</div>
				</div>
				<div class="row">
				<h2><% @post.comments.count %></h2>
				<%= render @post.comments %>

				<%= render "comments/form" %>
				</div>
			</div>

		</div>
	</div>
</div>




